<%- include("partials/header") -%>
<div class="main_body">
    <h3><%=blog.title%></h3>
    <p><%=blog.desc%></p>
    <form action="/delete" method="post">
        <button name="id" type="submit" value="<%=blog._id%>">Delete</button>
    </form>
</div>
<%- include("partials/footer") -%>